body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  $primary-color: #3498db;
  background-color: $primary-color;
  $secondary-color: #b91d09;
  $text-color: #ffffff;
  color: $text-color;
}

@mixin ul {
  border: 2px accent $secondary-color;
  border-radius: 20px;
}
