//import
@use "partials-nav.scss";
@use "partials-section1.scss";
@use "partials-section2.scss";
@use "partials-section3.scss";
@use "partials-footer.scss";
@use "partials-variables.scss" as *;
@use "partials-mixins.scss" as *;

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: $primary-color;
  color: $text-color;
}

img {
  max-width: 100%;
  height: auto;
}
